/* Set a base font size for the root element */
html {
    font-size: 16px; /* Default base size (can be adjusted for scaling) */
}

body {
    margin: 0;
    font-family: Roboto Mono, Arial, sans-serif;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    font-size: 1em; /* Use em for body text */
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-right: 0;
    background-color: darkslategrey;
    padding-left: 5em;
    padding-right: 2em;
    border-bottom: 2px solid coral;
    flex-wrap: wrap;
}

#header > div > a {
    font-size: 1.5em; /* Scales with the root font size */
    font-family: Andale Mono, Helvetica, Arial, sans-serif;
}

#dp {
    height: 15em; /* Scales with the font size */
    width: 15em;  /* Keeps the aspect ratio */
    border-radius: 50%; /* Makes it a perfect circle */
    border: 1px solid darkslategray;
}

#bio {
    display: flex;
    margin-top: 2em;
    gap: 2em;
    flex-direction: row;
}

#name {
    font-weight: bold;
    font-size: 2em; /* Scales with the root font size */
}

#bio_desc {
    display: flex;
    flex-direction: column;
    gap: 1.5em; /* Adjust spacing using em */
}

#news {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em; /* Adjust spacing using em */
}

.proj_img {
    height: 15em; /* Adjust image size using em */
    width: 15em;
    border: 1px solid darkslategray;
    border-radius: 2px;
    background-color: white;
}

#main {
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 4em;

}

.news_item {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
}

.news_item > .date {
    width: 10em; /* Adjust width using em */
}

ul {
    list-style-type: "- ";
}

a:link, a:visited {
    text-decoration: none;
    color: lightskyblue;
    font-size: 1em; /* Uniform scaling for links */
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.proj {
    display: flex;
    flex-direction: row;
    gap: 1em; /* Adjust spacing using em */
    flex-wrap: wrap;
}

#projs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}

#footer {
    padding: 3em; /* Adjust padding using em */
}

#current {
    color: dodgerblue;
}

.proj_desc{
    font-size: 1em; /* Adjust description size using em */
}

/* .proj_header {
    font-size: 1.2em; 
    font-weight: bold;
} */

/* Mobile-friendly responsive design */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    #header {
        padding: 1em;
        padding-left: 1em;
        padding-right: 1em;
        justify-content: center;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    #header > div > a {
        font-size: 1.2em;
    }

    #main {
        margin-left: 1em;
        margin-right: 1em;
    }

    #bio {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    #dp {
        height: 12em;
        width: 12em;
    }

    #name {
        font-size: 1.5em;
        text-align: center;
    }

    #bio_desc {
        text-align: center;
    }

    .proj {
        flex-direction: column;
    }

    .proj_img {
        height: 12em;
        width: 12em;
        margin: 0 auto;
    }

    .proj_header {
        font-size: 1.2em;
    }

    .news_item {
        flex-direction: column;
    }

    .news_item > .date {
        width: 100%;
        margin-bottom: 0.5em;
    }

    #footer {
        padding: 1.5em;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px; /* Reduce base font size further */
    }

    #header {
        padding: 0.75em;
        gap: 0.3em;
    }

    #header > div > a {
        font-size: 1em;
    }

    #main {
        margin-left: 4em;
        margin-right: 4em;
        margin-top: 4em;
    }

    #name {
        font-size: 1.2em;
        text-align: center;
    }

    #dp {
        height: 10em;
        width: 10em;
        margin: 0 auto;
    }

    #bio {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }

    #bio > div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bio_desc {
        text-align: center;
        width: 100%;
    }

    .proj_img {
        height: 10em;
        width: 10em;
        margin: 0 auto;
    }

    .proj {
        flex-direction: column;
    }

    #footer {
        padding: 1em;
        font-size: 0.9em;
    }
}


